html,
body {
  background-color: #21232a;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.3 rem;
  padding: 70px;
}

button{
  margin-right: 10px;
  font-family: "Roboto";
  padding: 10px;
  font-size: 1.3rem;
}